.App {
  text-align: center;
  margin: 0%;
  padding: 0%;
}
.App body {
  display: grid;
  grid-template-columns: auto auto;
}
#_comment-img > img {
  height: 77%;
  width: 37%;
  margin-top: 13%;
  margin-left: 65%;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#comment_input {
}
#comment_input > textarea {
  margin-top: 5%;
}
#comment_input > button {
  margin-left: 5%;
  align-items: center;
}
